<div *ngIf="requests && requests.length > 0">
  <br>
  <table class="table">
    <thead>
    <tr>
      <th>Fecha de Solicitud</th>
      <th>Código Unico</th>
      <th>Descripción de Solicitud</th>
      <th>Respuesta Administrativa</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let request of requests">
      <td>{{request.filingDate | date: 'short'}}</td>
      <td>{{request.sequence}}</td>
      <td>{{request.description}}</td>
      <td>
        {{request.response ? request.response : 'Sin respuesta aún.'}}
        <button *ngIf="showClaimOption(request);" type="button" class="btn btn-link btn-sm" data-toggle="modal"
                data-target="#myModal" (click)="showModalForClaim(request)">Reclama Aquí</button>
        <button *ngIf="request.haveClaim || request.requestType === 'R'" type="button" class="btn btn-link btn-sm" data-toggle="modal"
                data-target="#myModal" (click)="showModalForClaim(request)">Ver detalle completo</button>
      </td>
    </tr>
    </tbody>
  </table>
  <br>
</div>
