<form [formGroup]="requestForm" (ngSubmit)="saveGrievance()">

  <div class="form-group row" [ngClass]="{ 'has-danger': submitted && !requestForm.controls['description'].valid }">
    <label class="col-2 col-form-label">Ingrese su solicitud</label>
    <div class="col-8">
      <textarea class="form-control"
                type="text"
                formControlName="description"></textarea>

      <div *ngIf="submitted && requestForm.controls['description'].errors?.required"
           class="form-control-feedback">
        Debe escribir su solicitud.
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

  <div *ngIf="saveSuccessful != undefined && !saveSuccessful" class="alert alert-danger" role="alert">
    ¡La solicitud no se ha podido radicar, por favor intentelo màs tarde!
  </div>
  <div *ngIf="saveSuccessful" class="alert alert-success" role="alert">
    ¡Su solicitud se ha radicado correctamente con el número {{uniqueCode}}!
  </div>

</form>
