<h4>Consultar PQR</h4>
<hr>
<form [formGroup]="queryPQRForm" (ngSubmit)="queryPQR()">

  <div class="form-group row">
    <label class="col-4 col-form-label">Tipo de solicitud</label>
    <div class="col-4">

      <label *ngFor="let requestType of requestTypes"
             class="custom-control custom-radio">
        <input formControlName="requestType"
               [value]="requestType.code"
               type="radio"
               class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{ requestType.name }}</span>
      </label>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-4 col-form-label">Número Único: </label>
    <div class="col-5">
      <input class="form-control"
             type="text"
             formControlName="sequence">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-4 col-form-label">Radicadas desde:</label>
    <div class="input-group col-5">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" formControlName="dateFrom" ngbDatepicker #d1="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-4 col-form-label">Radicadas hasta: </label>
    <div class="input-group col-5">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" formControlName="dateTo" ngbDatepicker #d2="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-4 col-form-label">Contiene el texto: </label>
    <div class="col-8">
      <input class="form-control"
             type="text"
             formControlName="contains">
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Buscar
      </button>
    </div>
  </div>

</form>


<app-request-list [requests]="requests" (requestSelected)="getRequestSelected($event);" ></app-request-list>

<ng-container *ngIf="requestSelected">
  <app-modal-request [requestSelected]="requestSelected"></app-modal-request>
</ng-container>
