<h4>Consultar PQR</h4>
<hr>
<form [formGroup]="filtersForm" (ngSubmit)="queryPQR()">

  <div class="form-group row">
    <label class="col-4 col-form-label">Tipo de solicitud</label>
    <div class="col-4">

      <label *ngFor="let requestType of requestTypes"
             class="custom-control custom-radio">
        <input formControlName="requestType"
               [value]="requestType.code"
               type="radio"
               class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{ requestType.name }}</span>
      </label>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-4 col-form-label">Número Único: </label>
    <div class="col-5">
      <input class="form-control"
             type="text"
             formControlName="sequence">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-4 col-form-label">Radicadas desde:</label>
    <div class="input-group col-5">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" formControlName="dateFrom" ngbDatepicker #d1="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-4 col-form-label">Radicadas hasta: </label>
    <div class="input-group col-5">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" formControlName="dateTo" ngbDatepicker #d2="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Buscar
      </button>
    </div>
  </div>

</form>

<!-- Results list -->
<div *ngIf="requests && requests.length > 0">
  <br>
  <table class="table">
    <thead>
    <tr>
      <th>Fecha de Solicitud</th>
      <th>Código Unico</th>
      <th>Descripción de Solicitud</th>
      <th>Respuesta Administrativa</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let request of requests">
      <td>{{request.filingDate | date: 'short'}}</td>
      <td>{{request.sequence}}</td>
      <td>{{request.description}}</td>
      <td>
        {{request.response ? request.response : 'Sin respuesta aún.'}}
        <button *ngIf="showClaimOption(request);" type="button" class="btn btn-link btn-sm" data-toggle="modal"
                data-target="#myModalClaim" (click)="showModalForClaim(request)">Reclama Aquí
        </button>
        <button *ngIf="request.haveClaim || request.requestType === 'R'" type="button" class="btn btn-link btn-sm"
                data-toggle="modal" data-target="#myModal" (click)="showModalForClaim(request)">Ver detalle completo
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <br>
</div>

<div *ngIf="submmited && (!requests || requests.length == 0)">
  <span>No se encontraron solucitudes para mostrar...</span>
</div>

<!-- The Modal request detail -->
<div class="modal fade" id="myModal" #content>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 *ngIf="requestSelected?.requestParent?.requestType == 'P'">Detalle Petición</h4>
        <h4 *ngIf="requestSelected?.requestParent?.requestType == 'Q'">Detalle Queja</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <hr>

      <div class="modal-body">
        <div class="form-group row">
          <label class="col-3 col-form-label">Descripcion</label>
          <div class="col-8">
      <textarea class="form-control"
                type="text"
                [ngModel]="requestSelected?.requestParent?.description" disabled></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Fecha radicación</label>
          <div class="col-8">
            <input class="form-control"
                   type="text"
                   [ngModel]="requestSelected?.requestParent?.filingDate | date: 'short'" disabled>
          </div>
        </div>
        <div class="form-group row" *ngIf="requestSelected?.requestParent?.response">
          <label class="col-3 col-form-label">Respuesta Administrativa</label>
          <div class="col-8">
      <textarea class="form-control"
                type="text"
                [ngModel]="requestSelected?.requestParent?.response" disabled></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Reclamo</label>
          <div class="col-8">
      <textarea class="form-control"
                type="text"
                [ngModel]="requestSelected?.description" disabled></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-form-label">Fecha radicación</label>
          <div class="col-8">
            <input class="form-control"
                   type="text"
                   [ngModel]="requestSelected?.filingDate | date: 'short'" disabled>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- The Modal claim -->
<div class="modal fade" id="myModalClaim">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4>Reclamo!</h4>
        <button type="button" class="close" data-dismiss="modal" #closebuttonform>&times;</button>
      </div>
      <hr>

      <div class="modal-body">
        <app-request *ngIf="requestSelected" requestType="R" [requestParent]="requestSelected"
                     (requestSaved)="getRequestSaved($event);"></app-request>
      </div>

    </div>
  </div>
</div>
